body {
  font-family: Arial;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background: #ddd;
}

input,
select {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  margin: 5px;
}